*{
	padding: 0px;
	margin: 0px;
}
/*body { margin: 0px; }*/
.slaider_wrap { background-image: url(../image/main-img.jpg); background-repeat: no-repeat; background-size: 100% 100%; width: 100%; height: 600px; min-height: 600px; background-attachment: fixed;

}
.header { padding-top: 10px;  }
.menu_ber {  text-align: right; }
.menu_ber ul{ list-style-type: none; padding: 15px 0px;  }
.menu_ber ul li { display: inline-block; padding: 10px; }
.menu_ber ul li a { color: #fff; }
.menu_ber ul li a:hover { color: blue; text-transform: 1s; }
.header_wrap { margin-top: 70px; padding: 10px; color: #fff;}
.header_wrap h5{ letter-spacing: 1px; font-size: 20px;

}

#menu_open{display: none; color: #000 !important;}
#menu_close{display: none; color: #000 !important;}

/*Responsive Menu*/
@media only screen and (max-width: 720px) {
	.menu_ber { position: absolute; margin-top: 69px; background: #fff; z-index: 9999; display: none;}
	.menu_ber ul li { display: block; margin: 2px; background: #666;}
	#menu_open { display: inline-block; }
}

@media only screen and (min-width: 721px) {
	.menu_ber { position: relative; margin-top: 0px; background: none; display: inline-block;}
	.menu_ber ul li { display: inline-block; margin: 0px; background: none;}
	#menu_open { display: none; }
	#menu_close { display: none; }
}

.header_wrap h1{ letter-spacing: 1px; font-size: 50px; padding: 8px; }


.header_wrap p{ letter-spacing: 1px; font-size: bolder; padding: 5px;

}
.header_wrap a { padding: 10px; color: #fff; text-decoration: none;}
.header_wrap a:hover { color: yellow; text-transform: 1s; }
.about { margin-top: 70px; padding-top: 50px;}
.about p{  background-color: #1957f3; position: relative; display: inline-block; padding: 0px 15px; color: #fff; text-transform: uppercase; letter-spacing: 1px;}
.about h2 { font-size: bolder; } {  }
.about_sit { margin-top: 50px; padding-top: 40px; } h3{}

.about_sit h3{}
.about_sit p {}
.about_sit ul{ list-style-type: none; }
.about_sit ul li{ display: inline-block; padding: 15px; }
.title { font-size: 20px; }
.about_sit ul li span{  }
.down { padding: 12px; margin: 12px; }
.down:hover { color: blue; cursor: pointer; background-color: yellow; }
.container { position: relative; }
.make { background: #f7f7f7; }
.make h4{}
.make p{}
.read { padding: 10px 13px; margin-top: 10px; background: blue;}
.read:hover{ cursor: pointer; color: red; background: orange; }
.make_form input{ padding: 10px; width: 70%; border: none; border-bottom: 1px solid #333;}
.services_sectoin {margin-top: 60px; padding: 10px; position: relative;}
.services_sectoin p{ text-transform: uppercase; background: #1957f3; position: relative; display: inline-block; padding: 3px 14px; letter-spacing: 1px; }
.services_sectoin h1 { text-transform: uppercase; }
.service { padding: 30px; border: 1px solid #f7f7f7; }
.icon_bar { font-size: 34px; color: #1957f3; padding: 8px;}
.text { font-size: 10px; padding: 13px; }
.text_bar { font-style: italic; padding: 10px; }
.Contact_pic { background-image: url(../image/bg-3.jpg); background-repeat: no-repeat; background-size: 100% 100%; width: 100%; height: 400px; background-attachment: fixed; }
.Contact { margin-top: 70px; padding-top: 60px; color: #fff; }
.Contact h1 { text-transform: uppercase; padding: 10px; padding-bottom: 15px; }
.hire { font-size: 25px; padding: 5px 10px; }
.hire:hover { color: #f7f7f7; cursor: pointer; background: #1957f3; }
.work_section { margin-top: 80px; position: relative; }
.work_section p { margin-top: 40px; padding-top: 20px; font-size: 13px; background: #1957f3; display: inline-block; padding-bottom: 10px; padding-right: 5px; padding-left: 5px;}
.work_section h1  { margin-bottom: 20px; text-transform: uppercase; font-style: italic;}
.work_menu {margin: 22px 0px; padding: 15px 0px; }
.work_menu ul { list-style-type: none; border: 1px dotted #f7f7f7; display: inline-block; padding: 10px 45px; border-radius: 50px; background: #f7f7f7;}
.work_menu ul li { display: inline-block; padding: 17px; }
.work_menu ul li a { color: #000; text-decoration-color: #4444;}
.work_menu ul li a:hover{ color: #1957f3;  } 
.work_img { padding: 20px; }
.Testimonials{ color: #fff; padding-top: 50PX; margin-top: 50PX; }
.Testimonials p{ background: #1957f3; position: relative; display: inline-block; padding: 5px 10px;  }
.Testimonials_log { color: #fff; }
.Testimonials_log i { color: #1957f3; font-size: 40px;  padding-bottom: 15px; padding-top: 20px;}
.Testimonials_pic{ background-image: url(../image/img_parallax3.jpg); background-size: 100% 100%; background-repeat: no-repeat; width: 100%; height: 500px; background-attachment: fixed; margin-top: 70px;}
.Testimonials_img {  } 
.Testimonials_text {  }
.my_blog { margin-bottom: 120px; }
.set_letter { margin-top: 60px; padding-top: 40px; }
.set_letter p { background: #1957f3; display: inline-block; padding: 0px 10px; font-style: italic; }
.set_letter h1 { text-transform: uppercase;  margin-bottom: 30px; padding-bottom: 30px;}
.blog_pic:hover img { background: #1957f3; cursor: pointer; }
.create {  background-color: rgb(25, 87, 243);  height: 33px; color: #333; font-style: italic;  padding: 10px 19px;   }
.blog_pic h5 { padding-top: 20px; font-size: 18px; }
.blog_pic small {  }  
.blog_pic p {padding-top: 15px;} 
.blog img { border-radius: 50%;  padding: 5px; float: left;}
.blog p { font-size: 15px; color: #000000; padding: 5px; } 
.contact_pic { background-image: url(../image/bg-1.jpg); background-repeat: no-repeat; background-size: 100% 100%; width: 100%; height: 800px; background-attachment: fixed;  padding-bottom: 50px; }   
.contact_text { color: #fff; margin-top: 40px; padding-top: 30px; } 
.contact_text p { background: #1957f3; display: inline-block; padding: 5px 10px; font-style: italic; }
/*.contact { background: #b8ccde; padding: 15px; } */
.contact_num { color: #fff;  padding-top: 30px;} 
.contact_num i{ font-size: 40px; } 
.contact_form { background: #2125298a; padding-top: 10px; padding-bottom: 20px; margin-bottom: 30px;}
.contact_form input { background: #00000005; margin-bottom: 10px; border: 1px solid rgba(0, 0, 0, 0.28); padding: 10px 15px; color: #fff;s}
/*.message { padding: 15px; }*/
.message input { padding: 40px; }
.footer_end { background: #212529d1; }
.footer { margin-top: 70px; padding-top: 90px; color: #fff; margin-bottom: 40px;}
.footer img{ margin-bottom: 35px; }
.footer a { padding: 5px; border: 1px solid #333; border-radius: 50px; font-size: 15px; text-decoration: none; margin: 10px; color: #fff;}
.footer a:hover{ background: #1957f3; text-transform: 1s;}