*{
	padding: 0px;
	margin: 0px;
}


.slider-wrap{
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	min-height: 600px;
}
.header-wrap{
	color: white;
	position: 25px 0px;
	font-size: 13PX;
}
.logo {
	padding: 25px 0px;

}
.menu-wrap {
	padding: 25px 0px;

}
.menu-wrap ul {
	margin: 0px;
}
.menu-wrap ul li {
	list-style-type: none;
	display: inline-block;
}
.menu-wrap ul li a{
	color: white;
	padding: 5px 10px;


}
.menu-wrap ul li a:hover{
	color: yellow;
	transform: 2s;
}
.content {
	margin-top: 100px;
	line-height: 30px;
}
.content small {
	 font-size: 15px;
    color: #000;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: capitalize;
    background: #FFD504;
    display: inline-block;
    padding: 6px 12px;
}
.content h2 {
	color: #ffffff;
	font-size: 70px;
}
.content a i {
	color: #ffffff;
	padding: 5px;
	font-size: 25px;
	margin-top: 20px;
}
.content a i:hover{
	color: #FFD504;
	text-transform: 1s;
}
.about-heading {
	margin: 30px 0px;
}
.about-text {

}
.about-text p {

}
.about-text a {
	color: black;
	background: #ffc107;
	padding: 5px 7px;
}
.text-left {

}
.text-left ul {
	list-style-type: none;
	
}
.text-left ul li{
	display: inline-block;
	width: 40%;
	float: left;
	line-height: 30px;
	border-bottom: 1px dotted;
	margin-right: 20px;
	margin-bottom: 20px;

}

.about-header{
	margin-top: 70px;
	margin-bottom: 15px;
}
.single-services {
	border: 1px solid #FFD504;
	padding: 40px;
	text-align: center;
	background: #ffffff;
}
.single-services i {
    font-size: 40px;
    margin-bottom: 10px;
    border: 1px solid #FFD504;
    height: 100px;
    background: #FFD504;
    width: 100px;
    border-radius: 50%;
    line-height: 100px;
    color: #fff;
    -webkit-transition: .3s;
    transition: .3s;
}
.single-services h2 {
	font-size: 25px;
	text-transform: uppercase;
	margin: 10px 0px;
}
.single-services p {
	padding: 0 0 10px;
	line-height: 30px;
	font-style: italic;

}
.single-services i:hover{
	color: #ffc107;
	cursor: pointer;
}
.services-section {
	margin-top: 100px;
	margin-bottom: 15px;
	padding: 30px 0px;
}
.services-section h1{

}
..services-section p{

}
.about-menu ul{
	margin-bottom: 50px;
	margin-top: 50px;

}
.about-menu ul li{
	list-style-type: none;
	display: inline;
	
}
.about-menu ul li a{
	padding: 5px;
	color: #000;
	cursor: pointer;
}
.about-menu ul li a:hover{
	color: #FFD504;
}

.img_grid {
	margin: 80px 0px;
}
.img {
	width: 100%;
	height: 250px;
	padding: 10px;
}
.img_hover {
	position: absolute;
    width: 87%;
    height: 230px;
    background: #000;
    margin: -241px 0px 0px 10px;
    opacity: 0;
    text-align: center;
    transition: 1s;
    cursor: pointer;
}

.img_hover h2{
	margin-top: 60px;
	color: #fff;
}

.img_hover h4{
	color: #fff;
}

.img_grid:hover .img_hover {
	opacity: .5;
}
.star_wrap {
	background-image: url(../images/bg.jpg);
	background-size: 100% 100%;
	margin-top: 90px;
	background-repeat: no-repeat;
	
}
.counter {
	color: #ffffff;
}
.counter_wrap {
	margin: 150px 0px;
}
.counter_wrap i {
	color: #FFD504;
	font-size: 22px;
	margin: 10px 0px;
	padding: 10px 0px;

}
.counter_wrap h2 {
	font-size: 40px;
	font-weight: 900;
	color: #fff;

}
.counter_wrap h3{
	 text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    color: #fff;

}
.comment_wrap{
	margin-top: 140px;
	padding: 20px 0px;
	text-align: center;
}
.comment_wrap i {
	width: 30px;
	height: 30px;
	background: #000;
	color: #FFD504;
	font-size: 20px;
	border-radius: 30px;
	padding: 5px;


}
.comment_wrap h2 {
	font-size: 20px;

}
.comment_wrap h4 {
	font-size: 15px;

}
.comment_wrap p {
		margin: 20px 0px;
		line-height: 26px;
		color: #000;
		width: 80%;
}
.contact {
	margin-top: 130px;
	position: 20px 0px;
	margin-bottom: 50px;
}
.contact_from  input{
	border: none;
	padding: 40px 0px;
	font-size: 20px;
	height: 45px;
	border-bottom: 1px dotted #000;
	margin-bottom: 20px;
	box-shadow: none;
	margin-right: 10px;
	
	display: inline-block;
}
.submit input {
	background: #FFD504;
	font-size: 20px;
	position: 5px 15px;
}
.vcwe {
	margin-top: 90px;
	padding: 20px;
	margin-right: 10px;
	background: white;
	border: 1px;
	margin-bottom: 40px;
}
.vcwe i {
	padding: 20px;
	font-size: 25px;
	background: #FFD504;
	border-radius: 50%;
	margin-bottom: 23px;
}
.vcwe h3 {
	font-size: 20px;
}
.icon {
	margin-top: 30px;
}
.icon a{
	color: #000;
	padding: 20px;
	margin: 20px 0px;
}