*{
	padding: 0px;
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}
body {
	background: #000;
	border: 0;
	width: 100%;
}
.slider_wrap {
	background-image: url(../images/pictures-face-eyes-black.jpg);
	background-repeat: no-repeat;
	background-size: 100%  100%;
	height: 700px;
	width: 100%;
	/*min-height: 600px;*/

}
.header_wrap {

	background: #fff;
	color: #333;
	padding: 15px 10px;
	width: 100%; 
}
.menu h2{
	padding-left: 10px;
	font-size: 25px;
	padding-top: 10px;

}

.header {
	
	padding: 15px;
	text-decoration: none;
	font-size: 11px;

}
.header ul {

	list-style-type: none;
	/*margin-left: 90px;*/

	
	
}
.header ul li {
	display: inline;

}
.header ul li a {
	text-decoration: none;
	padding: 10px;
	color: #000;
}
.header ul li a:hover{
	color: #28a7e9;

}
.content {
	 background-size: cover;
	padding-top: 160px;
	padding-bottom: 100px;
	min-height: 650px;
	color: #fff;

}
.make {
	font-weight: 300;
	padding: 15px;
	font-size: 60px;
}

.content span {
	font-weight: bolder;
	/*font-size: 70px;*/
	padding-left: 40px;
	color: blue;
}
.content input {
	background: #000;
	color: #fff;
	padding: 10px 0px;
	margin-left: 120px;
	/*margin-top: 20px;*/
	
	text-align: center;

}
.about-heading {
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 10PX;
	color: #fff;
}
.about-heading span{
	color: blue;			
}

.media_wrap {
	text-align: left;
	padding: 10px;
	color: #fff;
} 
.media_wrap i{
		border: 1px solid #fff;
	border-radius: 2px;
	color: #fff;
	font-size: 24px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin-bottom: 20px;
	margin-right: 20px;
}
.media_wrap h3 {
	 font-size: 16px;
	font-weight: bold;
	padding-top: 20px;
	padding-left: 52px
}
.media_wrap p{
	
		margin: 0 0 10px;
		font-size: 15px;
		font-style: italic;
}
.about {
	margin-bottom: 22px;
	margin-top: 120px;
	padding: 10px;
	color: #fff;
}
.about span {
	color: blue;
}
.about_others {
	border: 1px #000;
	background: #333;
	color: #fff;
	width: 100%;

}
.about_others img {
	width: 100%;
	height: 300px;
}
.about_others h4 {
	text-align: center;
	padding-top: 15px;

}
.about_others h6 {
	text-align: center;
	font-size: 17px;
	color: blue;

}
.about_others p {
	text-align: center;
	font-size: 15px;
}
.SERVICE {
	color: #fff;
	margin-top: 130px;
	margin-bottom: 30px;
}
.SERVICE span {
	color: blue;
}
.SERVICE_wrap{
	margin-top: 20px;
	color: #fff;
}
.SERVICE_wrap i{
	font-size: 45px;
	color: #fff;
	border: 1px solid #fff;
	width: 90px;
	height: 90px;
	text-align: center;
	padding: 20px;
} 
.SERVICE_wrap h5 {
	/*margin-top: 25px;*/
	color: #28a7e9;
	padding-top: 20px;
}
.SERVICE_wrap p {
	padding-top: 20px;
	font-size: 15px;
	font-weight: 300;
}
.PORTFOLIO {
	color: #fff;
	margin-top: 130px;
	margin-bottom: 30px;
} 
.PORTFOLIO span {
	color: #28a7e9;
}
.images {
	background: #333;
}
.images img {
	width: 100%;
	height: 200px;

}
.pic_hover {
	background: rgba(221,196,15,0.7);
	width: 300px;
	height: 300px;
	position: absolute;
	margin-top: -305px;
	display: none;
	cursor: pointer;
}
.pic_top {
	display: block;
	text-align: center;
	padding: 10px 0px;
	margin-top: 100px;
}
.contact {
	color: #fff;
	padding-top: 120px;
	padding-bottom: 20px;
}
.contact span {
	color: #28a7e9;
}
.contact_from {
	color: #fff;

}
.contact_from label {
	padding: 10px 0px;
}
.contact_from input {
	width: 100%;
	height: 50px;
	border-color: #28a7e9;
	background: #333;
	color: #fff;
}
.messege {
	padding: 50px;

}
.submit input{
	background: #28a7e9;
	color: #fff;
	margin-top: 20px;
	cursor: pointer;
	
}
.submit input:hover {
	color: #333;
}
.our_contact {
	color: #fff;
	padding-top: 50px;
	font-size: 15px;
}
.our_contact h4{

}
.our_contact p{

}
.our_contact i {
	border: 1px solid #fff;
	padding: 10px;
	margin: 10px 10px;

}
.our_contact ul {
	list-style-type: none;
	padding: 10px;

}
.our_contact ul li {
	display: inline;
	padding: 10px;
	

}
.our_contact ul li a{
	color: #fff;
	text-decoration: none;
	border: 1px solid #fff;
	padding: 10px;
	margin-top: 10px;

}
.our_contact ul li a:hover {
	color: yellow;

}
.footer {
	/*padding-top: 60px;*/
	color: #fff;
	border: 1px solid #333;
	padding: 10px;
	margin-top: 50px;
	background: #333;

}
.footer span {
	color: #28a7e9;
}